/*  MICROTHEMER STYLES  */


/*= General =================== */

/** General >> Cardapio home Texto **/
.cardapio-home .uagb-rm__title-wrap {
	width: 270px !important;
}

/** General >> Cardapio home Price Container **/
.cardapio-home .uagb-rm__price-wrap {
	width: 80px !important;
}

/** General >> Post 13 blocks gallery grid **/
#post-13 .blocks-gallery-grid {
	
}


/*( Desktop & Tablet )*/
@media (min-width: 768px) and (max-width: 979px) {

	/*= General =================== */

	/** General >> Apoiadores Imagens **/
	#post-13 .uagb-columns__columns-4 {
	text-align: center !important;
}


}


/*( Tablet & Phone )*/
@media (max-width: 767px) {

	/*= General =================== */

	/** General >> Cardapio home Itens **/
	.cardapio-home .uagb-rm__content {
	
}

	/** General >> Post 13 blocks gallery grid **/
	#post-13 .blocks-gallery-grid {
	
}

	/** General >> Cardapio home Texto **/
	.cardapio-home .uagb-rm__title-wrap {
	
}

	/** General >> Cardápio Home Imagens **/
	.cardapio-home .uagb-rm__image > img {
	width: 33.33% !important;
}

	/** General >> Cardapio home Price Container **/
	.cardapio-home .uagb-rm__price-wrap {
	
}

	/** General >> Apoiadores Imagens **/
	#post-13 .uagb-columns__columns-4 {
	text-align: center !important;
}


}


/*( Phone )*/
@media (max-width: 480px) {

	/*= General =================== */

	/** General >> Post 13 blocks gallery grid **/
	#post-13 .blocks-gallery-grid {
	
}

	/** General >> Cardápio Home Imagens **/
	.cardapio-home .uagb-rm__image > img {
	width: 100% !important;
}

	/** General >> Cardapio home Itens **/
	.cardapio-home .uagb-rm__content {
	
}

	/** General >> Cardapio home Texto **/
	.cardapio-home .uagb-rm__title-wrap {
	width: 50% !important;
}

	/** General >> Cardapio home Price Container **/
	.cardapio-home .uagb-rm__price-wrap {
	width: 45% !important;
}

	/** General >> Apoiadores Imagens **/
	#post-13 .uagb-columns__columns-4 {
	
}


}

